# if you want to use mongo
DATABASE_DRIVER=mongodb
DATABASE_URL=mongodb://localhost:27017/afisha

# if you want to use postgres
DATABASE_DRIVER=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=afisha
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root